@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@0,300;1,300&family=Source+Sans+Pro:ital,wght@0,300;1,400&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

#boxlayout{
    margin:auto
    
}

body, html {
    background-color: rgb(180, 201, 194);
    text-align: center;
}

body

.boxclass {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    background-color: rgb(125, 158, 158);
    border-color: rgb(248, 183, 104);
    
    margin:10px
}

#keyboardgrid button{
    width: 70px;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(93, 93, 93, 0.573);
    margin: 8px;
    max-width: 60%;
    background-color: rgb(233, 207, 173);
    
}

.boxclass.greenoverlay {
    background-color: rgb(47, 180, 56);
}

.boxclass.yellowoverlay {
    background-color: rgb(225, 255, 0);
}

