@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@0,300;1,300&family=Source+Sans+Pro:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@700&family=Righteous&family=Teko:wght@500&display=swap");

.title {
  display: inline-block;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  vertical-align: middle;
  padding-right: 60px;
}

#boxlayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px; /* adjust this to fit all boxes in a row */
  margin: auto;
}

.boxclass {
  font-family: "Bebas Neue", cursive;
  width: 60px;
  height: 60px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin: 4px;
  vertical-align: top;
  overflow: auto;
  text-align: center;
  line-height: 60px;
  border: 3px solid black; /* Add this line */
  font-size: 30px;
}

#win {
  margin-bottom: 20px;
  /* position: relative;
  top: -25px; */
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  margin: auto;
  justify-content: center;
  display: flex;
}

#keyboardgrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  margin: auto;
  width: 50%;
  /* border: 1px solid black; */
  padding: 10px;
}

#keyboardgrid button {
  font-size: 16px;
  border: none;
  font-weight: bold;
  width: 60px;
  height: 60px;
  background-color: rgb(223, 223, 223);
  /* border: 1px solid black; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboardgrid button:hover {
  background-color: #f1f1f1;
}

#keyboardgrid button:nth-child(29) {
  grid-column: 1 / span 2;
}

#keyboardgrid button:nth-child(30) {
  grid-column: 3 / span 2;
}

#keyboardgrid button:nth-child(31) {
  grid-column: 5 / span 2;
}

#keyboardgrid button:nth-child(32) {
  grid-column: 7 / span 2;
}

#keyboardgrid button:nth-child(33) {
  grid-column: 9 / span 2;
}

#playAgain {
  width: 60%;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  margin: auto;
  justify-content: center;
  display: flex;
  background-color: rgb(255, 188, 188);
  margin-top: 20px;
}

.boxclass.greenoverlay {
  background-color: rgb(142, 255, 149);
}

.boxclass.yellowoverlay {
  background-color: rgb(239, 255, 121);
}

.boxclass.greyoverlay {
  background-color: rgb(165, 165, 165);
}

#green {
  color: rgb(111, 255, 121);
}

#yellow {
  color: rgb(235, 232, 51);
}

#grey {
  color: rgb(126, 126, 126);
}

.question {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}

.wrapper {
  text-align: center;
  position: relative; /* added to make .modal position absolute to this container */
}

.modal {
  display: none;
  position: absolute;
  width: 20%;
  height: 400px;
  left: 18%;
  top: 280px;
  /* top: 50%; */
  /* right: 80px; */
  /* left: 80%; */
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border: 2px solid #000000;
}
#howto {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  position: relative;
  bottom: 25px;
}

.list {
  font-family: "Bebas Neue", cursive;
  padding: 10px;
  font-size: 20px;
  padding-right: 40px;
}

.listbox {
  position: relative;
  bottom: 50px;
}
.question:hover + .modal {
  display: block;
}
